In [60]:
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline
data = pd.read_csv('D:\гитт\dataAnalysis\Dataset\math_students.csv', delimiter=',')

(354, 33)

1.Получите таблицу со студентами с четными номерами.

In [62]:
stud_even_row = data.iloc[::2, :]
stud_even_row

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,11
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,7,6,5,6
388,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,0,7,9,8
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

2.Получите таблицу со студентами, имеющими четное число пропусков.

In [61]:
print(data[(data['absences']%2 == 0)].shape)

(354, 33)

3.Верно ли, что студенты, имеющие больше 10 пропусков, учатся хуже, чем остальные?

In [63]:
stud_les_10 = data[data['absences'] < 10]
stud_grt_10 = data[data['absences'] >= 10]
stud_les_10_g3 = stud_les_10['G3'].mean()
stud_grt_10_g3 = stud_grt_10['G3'].mean()

stud_les_10_g3 > stud_grt_10_g3

True

4.Как вы думаете, какие еще признаки могут повлиять на итоговую оценку? Найдите закономерности, аналогичные рассмотренным.

In [64]:
parents_apart = data[data['Pstatus'] == 'A']
parents_together = data[data['Pstatus'] == 'T']
parents_apart_g3 = parents_apart['G3'].mean()
parents_together_g3 = parents_together['G3'].mean()

parents_apart_g3, parents_together_g3

(11.195121951219512, 10.324858757062147)

5.Как вы думаете, если при школе откроется общежитие, насколько актуально это будет для студентов математического класса?

In [65]:
GP_school = data[data['school'] == 'GP']
MS_school = data[data['school'] == 'MS']
GP_mean_traveltime = GP_school['traveltime'].mean()
MS_mean_traveltime = MS_school['traveltime'].mean()

GP_mean_traveltime, MS_mean_traveltime

# Для MS school это более актуально.

(1.3868194842406876, 1.9130434782608696)

6.Найдите в данных закономерности с помощью группировки.

In [67]:
avg=data.groupby('internet').mean()
if(avg.age[0]>avg.age[1]):
    print('Правда')
else:
    print('Неправда')

Правда