In [39]:
import pandas as pd
adultDate = pd.read_csv('adult.data', 
                   header=None, 
                   skipinitialspace=True, 
                   names=["age", "workclass", "fnlwgt", "education", "education-num", "marital-status",
                          "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss",
                          "hours-per-week", "native-country", "50K"])
adultDate.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,50K
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

Вопрос 1

Сколько мужчин и женщин в выборке?

In [73]:
adultDate.sex.value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

Вопрос 2

Каков средний возраст мужчин?

In [94]:
adultDate[adultDate.sex=='Male'].age.mean()

39.43354749885268

Вопрос 3

In [96]:
adultDate['native-country'].str.contains('United-States').sum()

29170

Вопрос 4

Нарисовать распределение уровня образования в виде столбчатой диаграммы (bar plot).